    display: none;
    }

    .nav-group:hover .nav-submenu {
        display: block;
    }

    .nav-submenu .nav-link {
        padding-left: 3rem;
        font-size: 0.9rem;
        text-decoration: none;
    }

    .nav-submenu .nav-link i {
        font-size: 1rem;
    }